$primary: #FFDD23;
$lighter: #F0DD77;
$lightest: #F0DE7F;
$light: #f3cc001a;
$cement-light: #F0F0ED;
$darkest: #000000;
$darker: #837D7D;
$cement-dark: #1A0D0D;
$fade-dark: #0000001a;
$white: #FFF;
$grey: #F6F6F6;
$bg-common: #F5F4EE;
$greykest: #f5f4ee;
$blue: #007AFF;
$red: #F00;
$bk-100: #1A0D0D;

/* Breakpoint */
$breakpoints: (
  sm: (
    min: 576px,
    max: 575.98px,
  ),
  md: (
    min: 768px,
    max: 767.98px
  ),
  lg: (
    min: 992px,
    max: 991.98px
  ),
  xl: (
    min: 1200px,
    max: 1199.98px
  ),
  xxl: (
    min: 1400px,
    max: 1399.98px,
  )
);
